{% extends 'layout.html' %}

{% block body %}

<div class="col-md-4 offset-md-4">
    <div class="card card-body">
    <form action="/update_cliente/{{cliente.Cli_Cedula}}" method="post">

        <h2 class="text-center">
            Editar datos de cliente
        </h2>

        <div class="form-group mb-3">
            <input name="Cli_Cedula" placeholder="Cli_Cedula" value="{{ cliente.Cli_Cedula }}" class="form-control">
        </div>

        <div class="form-group mb-3">
            <input name="Cli_Nombre" placeholder="Cli_Nombre" value="{{ cliente.Cli_Nombre }}" class="form-control">
        </div>

        <div class="form-group mb-3">
            <input name="Cli_Direccion" placeholder="Cli_Direccion" value="{{ cliente.Cli_Direccion }}" class="form-control">
        </div>

        <div class="form-group mb-3">
            <input name="Cli_Telefono" placeholder="Cli_Telefono" value="{{ cliente.Cli_Telefono }}" class="form-control">
        </div>

        <div class="form-group mb-3 text-center">
            <button type="submit" class="btn btn-success btn-block">
        Actualizar
    </button>
        </div>

</form>
</div>
</div>

{% endblock %}